# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.env/
.venv/

# cx_Freeze build outputs
build/
dist/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/

# Nuitka compilation outputs
*.build/
*.dist/
*.onefile-build/
*.exe
*.bin
*.app
*.run
*_compiled.*
*.pyi
*.o
*.obj
*.out
*.dbg.c
*.dbg.h
.nuitka_battery_updated
.nuitka_python_version

# PyInstaller
*.spec
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Storedfd

# Editor backups and temporary files
*~
.*.swp
.*.swo
